<app-container size="medium" *ngIf="(shipment$ | async) as shipment">
  <div class="row">
    <div class="col">
      <h2 class="mat-headline mb-1">{{shipment.crdate | date}}</h2>
      <p>{{shipment.description}}</p>
    </div>
    <div class="col-auto text-right">
      <a mat-button [routerLink]="routes.shipment.LIST">Back to list</a>
      <a
        class="ml-2"
        mat-raised-button
        color="primary"
        [routerLink]="[routes.order.CREATE, shipment.id]">Create order</a>
    </div>
  </div>
  <h3>Orders</h3>
  <mat-nav-list>
    <ng-container *ngFor="let order of (orders$ | async); first as isFirst">
      <mat-divider *ngIf="!isFirst"></mat-divider>
      <mat-list-item>
        <a class="flex-grow-1" [routerLink]="[routes.order.DETAIL, order.id]">
          {{order.total | lei}}
        </a>
      </mat-list-item>
    </ng-container>
  </mat-nav-list>
</app-container>
