<app-container size="medium" *ngIf="(shipment$ | async) as shipment">
  <div class="row align-items-center mb-4">
    <div class="col">
      <h2 class="mat-headline mb-0">{{shipment.date.toDate() | date}}</h2>
    </div>
    <div class="col-auto text-right">
      <a mat-button [routerLink]="routes.shipment.LIST">Back to list</a>
      <a class="ml-2" mat-raised-button color="primary" [routerLink]="[routes.order.CREATE, shipment.id]">Create order</a>
    </div>
  </div>
  <p>{{shipment.description}}</p>

  <h3>Orders</h3>
  <mat-nav-list *ngIf="(products$ | async) as products">
    <ng-container *ngFor="let order of (orders$ | async); first as isFirst">
      <mat-divider *ngIf="!isFirst"></mat-divider>
      <mat-list-item>
        <a class="flex-spacer" [routerLink]="[routes.order.DETAIL, order.id]">
          {{getOrderTotal(order, products) | currency:'MDL':'symbol':'1.2-2'}}
        </a>
      </mat-list-item>
    </ng-container>
  </mat-nav-list>
</app-container>
