@import '~@angular/material/theming';

.mat-form-field {
  width: 100%;
}

.mat-expansion-panel-header {
  padding-right: 12px;
}

.mat-expansion-panel-header-title {
  align-items: center;
}

.mat-expansion-panel-header-description {
  flex-grow: unset;
  align-content: end;
  margin-right: 0;
}

.mat-expansion-panel-header.mat-expanded {
  background-color: rgba(0, 0, 0, 0.03);

  &:focus,
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.menu-item-form-group {
  font-size: 16px;
}

.menu-item-remove-btn {
  &:hover {
    color: mat-color(mat-palette($mat-red), darker);
  }
}
