<form class="menu-form" [formGroup]="menuForm" (submit)="submit()">
  <mat-form-field>
    <input matInput placeholder="Menu name" formControlName="name">
    <mat-error *ngIf="menuForm.get('name').invalid">Cmon, give dis menu a name!</mat-error>
  </mat-form-field>

  <div class="cmf-items" formArrayName="items">
    <div class="mat-subheading-1 my-3">Menu items</div>
    <mat-accordion [multi]="true">
      <mat-expansion-panel
        [expanded]="true"
        *ngFor="let item of getMenuItems().controls; index as i;"
        [formGroup]="item">
        <mat-expansion-panel-header>
          <mat-panel-title>{{getMenuItemTitle(i)}}</mat-panel-title>
          <mat-panel-description>
            <button mat-icon-button (click)="removeItem($event,i)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="my-3">
          <mat-form-field>
            <input matInput placeholder="Product name" formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Product price" formControlName="price">
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="mt-2">
      <button mat-button (click)="addMenuItem()">Add product</button>
    </div>
  </div>

  <ng-content></ng-content>
</form>
<pre>{{menuForm.status | json}}</pre>
<pre>{{menuForm.value | json}}</pre>

