<app-container size="medium">
  <div class="row align-items-center mb-4">
    <div class="col">
      <h2 class="mat-headline mb-0">Shipments list</h2>
    </div>
    <div class="col-auto text-right">
      <a mat-raised-button color="primary" [routerLink]="routes.shipment.CREATE">Create shipment</a>
    </div>
  </div>
  <mat-nav-list>
    <ng-container *ngFor="let shipment of (shipments$ | async); first as isFirst">
      <mat-divider *ngIf="!isFirst"></mat-divider>
      <a mat-list-item [routerLink]="[routes.shipment.DETAIL, shipment.id]">
        <p matLine>{{shipment.crdate | date}}</p>
        <p matLine>{{shipment.description}}</p>
        <a
          mat-icon-button
          appMatListAction
          color="primary"
          [routerLink]="[routes.shipment.EDIT, shipment.id]">
          <mat-icon>edit</mat-icon>
        </a>
      </a>
    </ng-container>
  </mat-nav-list>
</app-container>
