<app-container size="medium">
  <h2 class="mat-headline mb-4">Users list</h2>
  <mat-list *ngIf="(users$ | async) as users">
    <mat-list-item>
      <div class="flex-grow-1 text-right">Is admin</div>
    </mat-list-item>
    <ng-container *ngFor="let user of users">
      <mat-divider></mat-divider>
      <mat-list-item>
        <img matListAvatar [src]="user.photoURL" alt="">
        <div matLine>{{user.displayName}}</div>
        <mat-slide-toggle
          [disabled]="isDisabled(user.uid)"
          (change)="toggleAdminRole($event, user.uid)"
          [checked]="isAdmin(user.uid)"></mat-slide-toggle>
      </mat-list-item>
    </ng-container>
  </mat-list>
</app-container>
