<app-container size="medium">
  <h2 class="mat-headline">Create new product</h2>
  <form class="menu-form" [formGroup]="productForm" (submit)="create()">
    <mat-form-field>
      <input matInput placeholder="Product name" formControlName="name">
      <mat-error *ngIf="productForm.get('name').invalid">Cmon, give dis menu a name!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Product description" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="Product price" formControlName="price">
      <mat-error *ngIf="productForm.get('price').invalid">Oops! Product needs a price!</mat-error>
    </mat-form-field>

    <div class="d-flex align-items-center">
      <button type="submit" mat-raised-button color="warn">Create</button>
      <a mat-button class="ml-2" routerLink="../">Cancel</a>
    </div>
  </form>
</app-container>
