<h2 class="mat-title">Create new Products List</h2>

<form name="cplForm" class="cpl-form">
  <mat-form-field>
    <input matInput type="text" placeholder="Name" [(ngModel)]="cplName" [ngModelOptions]="{standalone: true}">
    <button mat-button *ngIf="cplName" matSuffix mat-icon-button aria-label="Clear" (click)="cplName=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Price" [(ngModel)]="cplPrice" [ngModelOptions]="{standalone: true}">
    <button mat-button *ngIf="cplPrice" matSuffix mat-icon-button aria-label="Clear" (click)="cplPrice=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>
