<ng-container *ngIf="auth.user as user; else login">
  <img
    [src]="user.photoURL"
    class="user-photo"
    alt=""
  />
  <button
    mat-button
    (click)="signOut()"
    class="d-md-none ml-n3"
  >
    <mat-icon class="">logout</mat-icon>
  </button>
  <button
    mat-flat-button
    (click)="signOut()"
    class="d-none d-md-inline-block"
  >
    <span>Sign out</span>
  </button>
</ng-container>
<ng-template #login>
  <ng-container *ngIf="!auth.isFetching">
    <button mat-button (click)="signIn()">
      <mat-icon class="mr-1">exit_to_app</mat-icon>
      Sign in
    </button>
  </ng-container>
</ng-template>
