<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
      <mat-card>
        <mat-card-title>Create new Products List</mat-card-title>

        <form class="cpl-form" [formGroup]="cplForm">
          <mat-form-field>
            <input matInput placeholder="Products list name" formControlName="name">
            <mat-error *ngIf="cplForm.get('name').invalid">Cmon, give dis list a name!</mat-error>
          </mat-form-field>

          <div class="cpl-form-products" formArrayName="products">
            <div class="mat-subheading-1 my-3">Products</div>
            <mat-accordion [multi]="true">
              <mat-expansion-panel
                [expanded]="true"
                *ngFor="let product of products.controls; index as i;"
                [formGroup]="product">
                <mat-expansion-panel-header>
                  <mat-panel-title>{{getProductHeader(i)}}</mat-panel-title>
                  <mat-panel-description>
                    <button mat-icon-button (click)="deleteProduct($event,i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="my-3">
                  <mat-form-field>
                    <input matInput placeholder="Product name" formControlName="name">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="number" placeholder="Product price" formControlName="price">
                  </mat-form-field>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <div class="mt-2">
              <button mat-button (click)="addProduct()">Add product</button>
            </div>
          </div>

          <div class="text-right">
            <button mat-raised-button color="warn" (click)="create()">Create</button>
          </div>
        </form>
      </mat-card>

      <pre>{{cplForm.status | json}}</pre>
    </div>
  </div>
</div>
