<form class="order-form" [formGroup]="orderForm" (submit)="submit()">
  <div formArrayName="orderLines" *ngIf="(products$ | async) as products">
    <div class="row" *ngFor="let item of orderLines.controls; index as i;" [formGroup]="item">
      <div class="col">
        <mat-form-field>
          <mat-label>Product</mat-label>
          <mat-select formControlName="productId" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let product of products" [value]="product.id">
              {{product.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-auto" [style.width]="'80px'">
        <mat-form-field>
          <input matInput type="number" min="1" placeholder="Quantity" formControlName="qty">
        </mat-form-field>
      </div>
      <div class="col-auto d-flex align-items-center justify-content-end" [style.width]="'150px'">
        <div>{{getOrderLinePrice(i, products) | lei}}</div>
        <button type="button" class="remove-btn ml-2" mat-icon-button (click)="removeOrderLine($event, i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="mb-4">
      <button type="button" mat-button color="primary" (click)="addOrderLine()">Add product</button>
    </div>
    <div class="mt-3 mb-5">
      <b>Total:</b> {{getOrderTotal(products) | lei}}
    </div>
  </div>
  <ng-content></ng-content>
</form>
