<app-container size="medium">
  <h2 class="mat-headline">Update {{shipmentForm.get('date').value | date}}</h2>
  <form class="menu-form" [formGroup]="shipmentForm" (submit)="update()">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Shipment date" formControlName="date">
      <mat-error *ngIf="shipmentForm.get('date').invalid">Cmon, give dis shipment a date!</mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Shipment description" formControlName="description"></textarea>
    </mat-form-field>

    <div class="d-flex align-items-center">
      <button type="submit" mat-raised-button color="warn">Update</button>
      <a class="ml-2" mat-button [routerLink]="routes.shipment.LIST">Cancel</a>
    </div>
  </form>
</app-container>
