<app-container size="medium" *ngIf="shipment">
  <h2 class="mat-headline">Update {{shipment.crdate | date}}</h2>
  <form class="menu-form" [formGroup]="shipmentForm" (submit)="update()">
    <mat-form-field>
      <textarea matInput placeholder="Shipment description" formControlName="description"></textarea>
    </mat-form-field>

    <div class="d-flex align-items-center">
      <button type="submit" mat-raised-button color="warn">Update</button>
      <a class="ml-2" mat-button [routerLink]="routes.shipment.LIST">Cancel</a>
    </div>
  </form>
  <pre>{{shipmentForm.value | json}}</pre>
  <pre>{{shipmentForm.status | json}}</pre>
</app-container>
