<mat-toolbar color="primary" class="p-0">
  <div class="w-100">
    <app-container size="medium">
      <div class="d-flex align-items-center">
        <a mat-button class="ml-n3" routerLink="/">
          <img src="assets/logo-8.png" class="mr-1" style="height: 44px; border-radius: 50%" alt="">
          Nuts
        </a>
        <nav class="ml-3 d-none d-md-block">
          <a mat-button routerLink="/shipment" routerLinkActive="active">
            Shipments
          </a>
          <a mat-button routerLink="/order" routerLinkActive="active">
            Orders
          </a>
          <a mat-button routerLink="/product" routerLinkActive="active">
            Products
          </a>
          <a mat-button routerLink="/users" routerLinkActive="active">
            Users
          </a>
        </nav>
        <div class="flex-grow-1"></div>
        <app-auth></app-auth>
        <button
          class="d-md-none"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          #menuButton="matMenuTrigger"
        >
          <mat-icon *ngIf="!menuButton.menuOpen">menu</mat-icon>
          <mat-icon *ngIf="menuButton.menuOpen">close</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <a mat-menu-item routerLink="/shipment" routerLinkActive="mat-menu-item-highlighted">
            Shipments
          </a>
          <a mat-menu-item routerLink="/order" routerLinkActive="mat-menu-item-highlighted">
            Orders
          </a>
          <a mat-menu-item routerLink="/product" routerLinkActive="mat-menu-item-highlighted">
            Products
          </a>
          <a mat-menu-item routerLink="/users" routerLinkActive="mat-menu-item-highlighted">
            Users
          </a>
        </mat-menu>
      </div>
    </app-container>
  </div>
</mat-toolbar>

<div class="mt-4 mb-3">
  <router-outlet></router-outlet>
</div>
