<app-container size="medium">
  <div class="row align-items-center mb-4 px-3">
    <div class="col">
      <h2 class="mat-headline mb-0">Menu list</h2>
    </div>
    <div class="col-auto text-right">
      <a mat-raised-button color="primary" routerLink="new">Create menu</a>
    </div>
  </div>

  <mat-nav-list>
    <ng-container *ngFor="let menu of menus; first as isFirst">
      <mat-divider *ngIf="!isFirst"></mat-divider>
      <mat-list-item>
        <a class="flex-spacer" [routerLink]="routerStates.detail(menu.id)">{{menu.name}}</a>
        <a mat-icon-button color="primary" [routerLink]="routerStates.edit(menu.id)">
          <mat-icon>edit</mat-icon>
        </a>
      </mat-list-item>
    </ng-container>
  </mat-nav-list>
</app-container>
