/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/bootstrap-grid';
// those three are imported by `bootstrap-grid`
//@import '~bootstrap/scss/utilities/display';
//@import '~bootstrap/scss/utilities/flex';
//@import '~bootstrap/scss/utilities/spacing';
@import '~bootstrap/scss/utilities/sizing';
@import '~bootstrap/scss/utilities/text';
@import '~@angular/material/theming';

// Include material core styles.
@include mat-core();

// Define the light theme.
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  margin: 0 0 10px;
}

.remove-btn {
  &:hover {
    color: mat-color(mat-palette($mat-red), darker);
  }
}

.mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}
